button.navbar-toggler {
    display: none;
}


div#navbarNav {
    display: block !important;
}

ul.navbar-nav.mx-auto {
    flex-direction: row;
}

a.nav-link {
    padding-right: 0px !important;
}

.navbar-nav .nav-link:hover::after {
   
    transform: translateY(2px);
}

ul.navbar-nav.mx-auto {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.row.muzamil-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.row.muzamil-row {
    height: 500px;
}

  .row.muzamil-row {
    height: 500px;
}


.row.muzamil-row  .col-lg-3.col-12.p-0 {
    height: 100%;
}

img.img-fluid.about-image {
    min-height: 100% !important;
    object-fit: cover;
}

.muzamil-slider.col-lg-6.col-12.p-0 {
    height: 100%;
}

.carousel-inner-muzamil {
    height: 100% !important;
}

img.img-fluid-muzamil {
    height: 100%;
    object-fit: cover;
}


@media screen and (min-width: 678px) {
    .hero {
        height: calc(100vh - 74px);
    }

    .muzamil-first-image-banner-right {
        display: flex;
        justify-content: flex-end;
    }

    .muzamil-first-image-banner-right img {
        margin-right: 0 !important;
    }

    section#news {
        padding: 15vw;
    }
}

.muzamil-first-image-banner-right {
    display: flex;
    justify-content: flex-end;
}

.muzamil-first-image-banner-right img {
    margin-right: 0 !important;
}
  
@media only screen and (max-width: 600px) {

    img.framed-image.large-disc-image {
        max-width: 100%;
    }

    .muzamil-first-image-banner-right  img.framed-image {
        max-width: 100%;
    }


    .col-lg-6.col-12.mt-3.mb-lg-5.muzamil-first-image-banner-right {
        padding-right: 0;
        padding-left: 0;
    }

    .row.muzamil-row {
        height: fit-content !important;
    }

    .row.port-row {
        margin: 0 !important;
    }

    .col-12.muz-col-12 {
        margin: 0 !important;
    }


    h3.mb-5.text-center.muz-h3-port.aos-init.aos-animate {
        margin-bottom: 20px !important;
    }


    h2.mb-5.text-center.photo-gallery-title.aos-init.aos-animate {
        margin-bottom: 10px !important;
    }

    section#news {
        padding: 20px 0px;
    }

    .col-lg-3.col-12.p-0.muzamil-person {
        height: 133vw !important;
    }

    section#carouselMuzamil {
        min-height: 100% Im !important;
    }

    .row.muzamil-row {
        height: fit-content;
    }

    .carousel-inner-muzamil {
        height: 75vw !important;
    }

    .image-container {
        max-width: 100%;
    }

    .col-lg-7.col-12.mx-auto   div {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .image-container {
        margin: auto;
    }

    footer.site-footer .col-6 {
        color: white;
    }

    .container.mb-5.pb-lg-5 div {
        margin: 20px 0;
    }

    .row div {
        margin: 25px 0;
    }

    .col-12 {
        /* flex: 0 0 auto;
        width: 100%;
        justify-content: center;
        display: flex; */
    }

    footer.site-footer {
        padding: 10px !important;
    }

    .col-lg-3.bg-dark {
        height: 100%;
        min-height: 20.6875rem;
    }

    .img-fluid-muzamil {
        width: 100%;
        height: auto;
        height: 245px;
        object-fit: cover;
    }

    h3.text-white-muzamil {
        margin: 0 !important;
    }

    section#portfolio {
        padding-top: 10px;
    }

    h3.text-white-muzamil {
        font-size: 16px;
    }

    .carousel-caption-muzamil {
        position: absolute;
        bottom: -20px !important   ;
    }
    h1.mt-5.mb-lg-4.faded-gold.aos-init.aos-animate {
        font-size: 5vw !important;
    }
    p.text-secondary-white-color.aos-init.aos-animate {
        font-size: 4vw !important;
    }

    .col-lg-6.col-12.mt-3.mb-lg-5 {
        display: flex;
        justify-content: center;
    }

    .col-lg-6.col-12.mt-3.mb-lg-5  a.image-popup {
        width: 100%;
    }

    .col-lg-6.col-12.mt-3.mb-lg-5  a.image-popup img {
        min-width: 100%;
    }

    .image-container {
        width: 100%;
    }

    .image-container img {
        min-width: 100%;
    }
}
